<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" *ngFor="let item_header of header">{{item_header | titlecase}}</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let itemBody of value">
            <td *ngFor="let item of itemBody">
                {{item | titlecase}}
            </td>
            <td>
                <button type="button" class="btn btn-success">Actualizar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>